<input type="checkbox" id="check">
<label for="check">
    <i class="fa-solid fa-user-group" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Users</header>
    <ul>
        {{#each users}}
            <li>
                <a href='/user/{{this.user_id}}'>
                    <div class="sidebar-container">
                        {{this.name}}
                    </div>
                    <div class="sidebar-username">
                        {{this.username}}
                    </div>
                </a></li>
        {{/each}}
    </ul>
</div>
<section>
    <a id="current-user"></a>
    <div class="directory-container">
        <form class = "mainPost" action="/create" method="POST" autocomplete="off">
        <label class="post-item chat-label"><h1>Create New Chatroom</h1></label>
        <div class="post-item">
            <input class="chat-name"type="text" name="roomName" placeholder="Please enter a room name"/>
            <input class="btn chat-submit" type="Submit" value="Create"/>
        </div>
        </form>
    </div>

    <div class="directory-container">
        <h1> Chatroom Directory </h1>
        <div id='chat-directory'>
        {{#if isAvailable}}
            {{#each rooms}}
                <a class="chat" href={{this.id}}><btn class="btn btn-chat">{{this.name}}</btn></a>
            {{/each}}
        {{/if}}
        </div>
    </div>


</section>

<script>
    window.addEventListener('load', function(){
        setInterval(async function(){
            fetch("http://localhost:3000/getRoom")
            .then(response => response.json())
            .then(data =>{
                var roomJson = data;
                console.log(roomJson);

                var div_element = document.getElementById('chat-directory');
                div_element.innerHTML = ""

                for(var j =0;j<roomJson.length;j++){
                    {{!-- console.log(roomJson[j].name) --}}
                    var a = document.createElement('a');
                    a.href = roomJson[j].id;
                    a.classList.add("chat");
                    var btn_element = document.createElement('btn');
                    var btnTxt = roomJson[j].name;
                    btn_element.innerHTML = btnTxt;
                    btn_element.classList.add("btn");
                    btn_element.classList.add("btn-chat");
                    a.appendChild(btn_element);
                    div_element.appendChild(a);
                }
            }).catch(err =>{
                console.log("Error when rendering rooms", err);
            });
        }, 1000);
    })
</script>