<input type="checkbox" id="check">
<label for="check">
    <i class="fa-solid fa-user-group" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Users</header>
    <ul>
        {{#each users}}
            <li>
                <a href='/user/{{this.user_id}}'>
                    <div class="sidebar-container">
                        {{this.name}}
                    </div>
                    <div class="sidebar-username">
                        {{this.username}}
                    </div>
                </a></li>
        {{/each}}
    </ul>
</div>
<section>
    <a id="current-user"></a>
    <h1> {{title}}: {{roomName}}</h1>
    <div class="search_block">
        <i class="fa-solid fa-magnifying-glass"><input id="search_bar" type="search" name="search" onkeyup="handleSearch()"placeholder="Search messages..."></i>
        
    </div>
    <div id='display-msg'>
        {{#each messages}}
            <div class="post-box">
                <h5>{{this.username}}</h5>
                <h6> {{this.date}}</h6>
                <p>{{this.text_msg}}</p>
                <button onClick="upVote(`{{this.msg_id}}`, {{this.vote}})">Up</button>
                {{this.vote}}
                <button onClick="downVote(`{{this.msg_id}}`, {{this.vote}})"> Down</button>
                <button onClick="editMsg()">Edit</button>
                <button onClick="deleteMsg()">Delete</button>
            </div>
        {{/each}}
    </div>

    <form class="add-post" action="/newMsg" method="POST" autocomplete="off">
    <div class="reply-item">
        <label style="display:none" for="name">Username</label>
        <input style="display:none" type="text" name="username" placeholder="Please enter a username"/>
    </div>
    <div class="reply-item">
        <label for="name">Message</label>
        <input type="text" name="msg" placeholder="Write a new message..."/>
    </div>
    <input type="text" style="display:none" value={{roomId}} name="room_id"/>
    <input type="Submit" class="btn" value="Post"/>
    </form>
</section>

<script>
    let voted1 = true;
    let msgs = [];

    let searchString = "" // here we use a global variable
    const handleSearch = function() {
        searchString = document.getElementById('search_bar').value.trim().toLowerCase()
        console.log(searchString);
    }

    window.addEventListener('load', function(){
        let rm_id = "{{roomId}}";
        let msgUrl = "http://localhost:3000//messages";
        let username = 'username';
        let fetchUrl = msgUrl.substring(0, 22)  + rm_id + msgUrl.substring(22, msgUrl.length);
        console.log(fetchUrl);

        setInterval(async function(){
            const curr = document.getElementById('current-user');
            const usernameBox = document.getElementsByName('username')[0];
            if (curr.innerHTML !== "") {usernameBox.value = curr.innerHTML;}
            fetch(fetchUrl)
            .then(response => response.json())
            .then(data =>{
                var msgJson = data;
                var div_element = document.getElementById('display-msg');
                div_element.innerHTML = ""
                if (searchString.length > 0){
                    msgJson = msgJson.filter((jsonObject) =>
                    jsonObject.text_msg.toLowerCase().includes(searchString) 
                    || jsonObject.username.toLowerCase().includes(searchString));
                }

                for(var j =0;j<msgJson.length;j++){
                    var postBox = document.createElement('div');
                    postBox.classList.add("post-box");
                    var user = document.createElement('h5');
                    user.innerText = msgJson[j].username;
                    //console.log(msgJson[j].username);
                    var date = document.createElement('h6');
                    date.innerText = msgJson[j].date;
                    //console.log(msgJson[j].date);
                    var content = document.createElement('p');
                    content.innerText = msgJson[j].text_msg;
                    console.log(msgJson[j].text_msg);
                    var vote = document.createElement('p1');
                    vote.innerText = msgJson[j].vote;
                    var upV = document.createElement("button");
                    upV.addEventListener("click", () => { upVote(msgJson[j].msg_id, msgJson[j].vote) });
                    upV.innerText = "Up"
                    console.log(msgJson[j].vote);
                    var downV = document.createElement("button");
                    downV.innerText = " Down";
                    downV.addEventListener("click", () => { downVote(msgJson[j].msg_id, msgJson[j].vote); }); 
                    var del = document.createElement("button");
                    var edit = document.createElement("button");
                    var editBtn = document.createElement('button');
                    const link = "/" + rm_id + "/" + msgJson[j].msg_id
                    editBtn.innerHTML = "<a href="+ link + ">Edit</a>"
                    postBox.appendChild(user);
                    postBox.appendChild(date);
                    postBox.appendChild(content);
                    //postBox.appendChild(upV);
                    //postBox.appendChild(vote);
                    //postBox.appendChild(downV);
                    if (curr.innerHTML == msgJson[j].username){
                        var editBtn = document.createElement('button');
                        const link = "/" + rm_id + "/" + msgJson[j].msg_id
                        editBtn.innerHTML = "<a href="+ link + ">Edit</a>"
                        var del = document.createElement("button");
                        del.addEventListener("click", () => { deleteMsg(msgJson[j].msg_id) });
                        del.innerText = "Delete"
                        postBox.appendChild(editBtn);
                        //postBox.appendChild(del);
                    }
                    div_element.appendChild(postBox);
                }
            }).catch(err =>{
                console.log("Error when rendering rooms", err);
            });
        }, 1000);
    })
   async function upVote(msgSelected, currVal){
       // checks if pressed
        for (let i = 0; i < msgs.length; i++) {
            if (msgSelected == msgs[i]) {
                voted1 = false;
                return;
            }
        }
        msgs.push(msgSelected);
        const inc = {"inc": currVal+1}
        console.log("msgSelected: ", msgSelected);
        console.log("upVal: ", inc);
        console.log("upVote clicked");
        const url = "http://localhost:3000/vote/" + msgSelected;
        const requestOptions = {
            method: 'POST',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(inc)
        }
        const response  =  await fetch(url, requestOptions)
        const result = await response.json();
    }
    
    async function downVote(msgSelected, currVal){
        for (let i = 0; i < msgs.length; i++) {
            if (msgSelected == msgs[i]) {
                voted1 = false;
                return;
            }
        }
        msgs.push(msgSelected);
        const dec = {"inc": currVal-1}
        console.log("msgSelected: ", msgSelected);
        console.log("downVal: ", dec);
        console.log("downVote clicked");
        const url = "http://localhost:3000/vote/"+msgSelected;
        const requestOptions = {
            method: 'POST',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(dec)
        }
        const response  =  await fetch(url, requestOptions)
        const result = await response.json();
    }

    async function deleteMsg(msgSelected) {
        const url = "http://localhost:3000/messages/"+msgSelected;

        let resp = await fetch(url, {method: "DELETE"});
            console.log(resp.status); 
            console.log(resp.statusText);
            location.reload(true);

    }

    const editMsg = async () => {
        let response = await fetch(`http://localhost:3000/LGUMDA/messages`, {method: "GET"});

        console.log(response.status);
        console.log(response.statusText);

        if (response.status === 200) {
            let data = await response.text();
            console.log("DATA:",data);
            const editMsg = JSON.parse(data);

            const {
                text_msg,
                date,
                vote
            } = editMsg;

            document.getElementById('text_msg').value = text_msg;
            document.getElementById('date').value = moment().format("LLLL");
            document.getElementById('vote').value = vote;

            document.getElementById('editForm').action = `http://localhost:3000/LGUMDA/messages`;

            //$('#editMsg').modal('show'); // modal should open here?
        }
    }
</script>