<input type="checkbox" id="check">
<label for="check">
    <i class="fa-solid fa-user-group" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Users</header>
    <ul>
        {{#each users}}
            <li>
                <a href='/user/{{this.user_id}}'>
                    <div class="sidebar-container">
                        {{this.name}}
                    </div>
                    <div class="sidebar-username">
                        {{this.username}}
                    </div>
                </a></li>
        {{/each}}
    </ul>
</div>
<section>
    <h1> {{title}}: {{roomName}}</h1>

    <div id='display-msg'>
        {{#each messages}}
            <div class="post-box">
                <h5>{{this.username}}</h5>
                <h6> {{this.date}}</h6>
                <p>{{this.text_msg}}</p>
                {{!--<input type="submit" id="upvote" value="UP"/>
                <p1>{{this.vote}}</p1>--}}
                <button onClick="upVote(`{{this.msg_id}}`, {{this.vote}})">Up</button>
                {{this.vote}}
                <input type="submit" id="downvote" value="DOWN"/>
            </div>
        {{/each}}
    </div>

    <form class="add-post" action="/newMsg" method="POST" autocomplete="off">
    <div class="reply-item">
        <label for="name">Username</label>
        <input type="text" name="username" placeholder="Please enter a username"/>
    </div>
    <div class="reply-item">
        <label for="name">Message</label>
        <input type="text" name="msg" placeholder="Write a new message..."/>
    </div>
    <input type="text" style="display:none" value={{roomId}} name="room_id"/>
    <input type="Submit" class="btn" value="Post"/>
    </form>
</section>

<script>
    window.addEventListener('load', function(){
        let rm_id = '{{roomId}}';
        let msgUrl = "http://localhost:3000//messages";
        let fetchUrl = msgUrl.substring(0, 22)  + rm_id + msgUrl.substring(22, msgUrl.length);
        console.log(fetchUrl);

        //const form = document.getElementById("upvote"); //add an ID to the upvote button first

           // form.addEventListener("submit", upVote);
            /*async function upVote(event) {
                const vote = 1;
               
                
                const result = await fetch("/vote", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        vote
                    })
                }).then((res) => res.json())
            }*/

        setInterval(async function(){
            fetch(fetchUrl)
            .then(response => response.json())
            .then(data =>{
                var msgJson = data;
                console.log(msgJson);

                var div_element = document.getElementById('display-msg');
                div_element.innerHTML = ""

                for(var j =0;j<msgJson.length;j++){
                    var postBox = document.createElement('div');
                    postBox.classList.add("post-box");
                    var user = document.createElement('h5');
                    user.innerText = msgJson[j].username;
                    console.log(msgJson[j].username);
                    var date = document.createElement('h6');
                    date.innerText = msgJson[j].date;
                    console.log(msgJson[j].date);
                    var content = document.createElement('p');
                    content.innerText = msgJson[j].text_msg;
                    console.log(msgJson[j].text_msg);
                    var upV = document.createElement("button");
                    upV.innerHTML = "UP"
                    var vote = document.createElement('p1');
                    vote.innerText = msgJson[j].vote;
                    console.log(msgJson[j].vote);
                    var downV = document.createElement("button");
                    downV.innerHTML = "DOWN"
                    upV.onclick = upVote;
                    postBox.appendChild(user);
                    postBox.appendChild(date);
                    postBox.appendChild(content);
                    postBox.appendChild(upV);
                    postBox.appendChild(vote);
                    postBox.appendChild(downV);
                    div_element.appendChild(postBox);
                }
            }).catch(err =>{
                console.log("Error when rendering rooms", err);
            });
        }, 1000);
    })
    function upVote(msgSelected, currVal){
        const incVal = currVal+1;
        console.log("msgSelected: ", msgSelected);
        console.log("upVal: ", incVal);
        console.log("upVote clicked");
        const result = fetch("/vote", {
                    method: "POST",
                    body: JSON.stringify({
                        msgSelected, incVal
                    })
        })
    }
</script>