<input type="checkbox" id="check">
<label for="check">
    <i class="fa-solid fa-user-group" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Users</header>
    <ul>
        {{#each users}}
            <li>
                <a href='/user/{{this.user_id}}'>
                    <div class="sidebar-container">
                        {{this.name}}
                    </div>
                    <div class="sidebar-username">
                        {{this.username}}
                    </div>
                </a></li>
        {{/each}}
    </ul>
</div>
<section>
    <h1> {{title}}: {{roomName}}</h1>

    <div id='display-msg'>
        {{#each messages}}
            <div class="post-box">
                <h5>{{this.username}}</h5>
                <h6> {{this.date}}</h6>
                <p>{{this.text_msg}}</p>
            </div>
            <div class="up_block">
                <button class="up_btn">Up</button>
                <span class="id_msg" style="display:none">{{this.msg_id}}</span>
            </div>
                <p1 class = "vote_cnt">{{this.vote}}</p1>
            <div class="down_block">
                <span class="id_msg" style="display:none">{{this.msg_id}}</span>
                <button class="down_btn">Down</button>
            </div>
        {{/each}}
    </div>

    <form class="add-post" action="/newMsg" method="POST" autocomplete="off">
    <div class="reply-item">
        <label for="name">Username</label>
        <input type="text" name="username" placeholder="Please enter a username"/>
    </div>
    <div class="reply-item">
        <label for="name">Message</label>
        <input type="text" name="msg" placeholder="Write a new message..."/>
    </div>
    <input type="text" style="display:none" value={{roomId}} name="room_id"/>
    <input type="Submit" class="btn" value="Post"/>
    </form>
</section>

<script>
    let rm_id = '{{roomId}}';
    let msgUrl = "http://localhost:3000//messages";
    let fetchUrl = msgUrl.substring(0, 22)  + rm_id + msgUrl.substring(22, msgUrl.length);
    console.log(fetchUrl);
    window.addEventListener('load', function(){
        setTimeout(async function(){
            fetch(fetchUrl)
            .then(response => response.json())
            .then(data =>{
                var msgJson = data;
                console.log(msgJson);

                var div_element = document.getElementById('display-msg');
                div_element.innerHTML = ""

                for(var j =0;j<msgJson.length;j++){
                    var postBox = document.createElement('div');
                    postBox.classList.add("post-box");
                    var user = document.createElement('h5');
                    user.innerText = msgJson[j].username;
                    console.log(msgJson[j].username);
                    var date = document.createElement('h6');
                    date.innerText = msgJson[j].date;
                    console.log(msgJson[j].date);
                    var content = document.createElement('p');
                    content.innerText = msgJson[j].text_msg;
                    console.log(msgJson[j].text_msg);
                    postBox.appendChild(user);
                    postBox.appendChild(date);
                    postBox.appendChild(content);
                    div_element.appendChild(postBox);
                }
            }).catch(err =>{
                console.log("Error when rendering rooms", err);
            });
        }, 1000);
    }) 
    
    const upBlock = document.getElementsByClassName("up_block");
    const downBlock = document.getElementsByClassName("down_block");
    
    function upVote(msgSelected){
        console.log("msgSelected: ", msgSelected);
        let currVal = 0;
        let incVal = 0;
        fetch(fetchUrl)
            .then(response => response.json())
            .then(data =>{
                var msgJson = data;
                {{!-- console.log(msgJson) --}}
                for(var j =0;j<msgJson.length;j++){
                    if(msgJson[j].msg_id == msgSelected){
                        currVal = msgJson[j].vote;
                        console.log("currVal: ", currVal)
                    }
                }
                incVal = currVal+1;
                console.log("incVal: ", incVal);
                {{!-- const result = fetch("/vote", {
                            method: "POST",
                            body: JSON.stringify({
                                msgSelected, incVal
                            })
                }) --}}
            })
    }

    function downVote(msgSelected){
        console.log("downVote clicked");
        console.log("msgSelected: ", msgSelected);
        {{!-- const result = fetch("/vote", {
                    method: "POST",
                    body: JSON.stringify({
                        msgSelected, decVal
                    })
        }) --}}
    }

    Array.from(upBlock).forEach(function(upBlock) {
        upBlock.addEventListener('click', function(){
            const msgTemp = upBlock.getElementsByClassName("id_msg")
            upVote(msgTemp[0].innerText)
        })
    });

    Array.from(downBlock).forEach(function(downBlock) {
        downBlock.addEventListener('click', function(){
            const msgTemp = downBlock.getElementsByClassName("id_msg")
            downVote(msgTemp[0].innerText)
        })
    });
</script>