<input type="checkbox" id="check">
<label for="check">
    <i class="fa-solid fa-user-group" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Users</header>
    <ul>
        {{#each users}}
            <li>
                <a href='/user/{{this.user_id}}'>
                    <div class="sidebar-container">
                        {{this.name}}
                    </div>
                    <div class="sidebar-username">
                        {{this.username}}
                    </div>
                </a></li>
        {{/each}}
    </ul>
</div>
<section>
    <h1> {{title}}: {{roomName}}</h1>
    <div class="search_block">
        <input id="search_bar" type="search" name="search" onkeyup="handleSearch()"placeholder="Search messages...">
    </div>
    <div id='display-msg'>
        {{#each messages}}
            <div class="post-box">
                <h5>{{this.username}}</h5>
                <h6> {{this.date}}</h6>
                <p>{{this.text_msg}}</p>
            </div>
        {{/each}}
    </div>

    <form class="add-post" action="/newMsg" method="POST" autocomplete="off">
    <div class="reply-item">
        <label style="display:none" for="name">Username</label>
        <input style="display:none" type="text" name="username" placeholder="Please enter a username"/>
    </div>
    <div class="reply-item">
        <label for="name">Message</label>
        <input type="text" name="msg" placeholder="Write a new message..."/>
    </div>
    <input type="text" style="display:none" value={{roomId}} name="room_id"/>
    <input type="Submit" class="btn" value="Post"/>
    </form>
</section>


<script src="https://twitter.github.io/typeahead.js/js/handlebar.js"></script>
<script>

    let searchString = "" // here we use a global variable

    const handleSearch = function() {
        searchString = document.getElementById('search_bar').value.trim().toLowerCase()
        console.log(searchString);
    }

    window.addEventListener('load', function(){
        let rm_id = "{{roomId}}";
        let msgUrl = "http://localhost:3000//messages";
        let fetchUrl = msgUrl.substring(0, 22)  + rm_id + msgUrl.substring(22, msgUrl.length);
        console.log(fetchUrl);
        setInterval(async function(){
            const curr = document.getElementById('current-user');
            const usernameBox = document.getElementsByName('username')[0];
            if (curr.innerHTML !== "") {usernameBox.value = curr.innerHTML;}
            fetch(fetchUrl)
            .then(response => response.json())
            .then(data =>{
                var msgJson = data;
                var div_element = document.getElementById('display-msg');
                div_element.innerHTML = ""

                if (searchString.length > 0){
                    msgJson = msgJson.filter((jsonObject) =>
                    jsonObject.text_msg.toLowerCase().includes(searchString) 
                    || jsonObject.username.toLowerCase().includes(searchString));
                }

                for(var j =0;j<msgJson.length;j++){
                    var postBox = document.createElement('div');
                    postBox.classList.add("post-box");
                    var user = document.createElement('h5');
                    user.innerText = msgJson[j].username;
                    //console.log(msgJson[j].username);
                    var date = document.createElement('h6');
                    date.innerText = msgJson[j].date;
                    //console.log(msgJson[j].date);
                    var content = document.createElement('p');
                    content.innerText = msgJson[j].text_msg;
                    //console.log(msgJson[j].text_msg);
                    postBox.appendChild(user);
                    postBox.appendChild(date);
                    postBox.appendChild(content);
                    div_element.appendChild(postBox);
                }
            }).catch(err =>{
                console.log("Error when rendering rooms", err);
            });
        }, 600);
    })
</script>