<input type="checkbox" id="check">
<label for="check">
    <i class="fa-solid fa-user-group" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Users</header>
    <ul>
        {{#each users}}
            <li>
                <a href='/user/{{this.user_id}}'>
                    <div class="sidebar-container">
                        {{this.name}}
                    </div>
                    <div class="sidebar-username">
                        {{this.username}}
                    </div>
                </a></li>
        {{/each}}
    </ul>
</div>
<section>
    <a id="current-user"></a>
    <div class="register-container user-profile">
        <h1>User Profile</h1>
            <div class="user-container">
                {{user.name}}
            </div>
            <div class="user-username">
                {{user.username}}
            </div>
            <div class="user-email">
                {{user.email}}
            </div>
    </div>
    <div class="register-container recent-activity">
        <h1>Recent Activity</h1>
        <div id='display-user-msg'>
            {{#each messages}}
                <a href='/{{this.room_id}}'>
                    <div class="post-box recent-msg">
                        <h5>{{this.username}}</h5>
                        <h6> {{this.date}}</h6>
                        <p>{{this.text_msg}}</p>
                    </div>
                </a>
            {{/each}}
        </div>
    </div>
</section>

<link rel="stylesheet" href="../css/style.css">